<style type="text/css">
#index_public_main .bar {border:1px solid #999999; background:#FFFFFF; height:5px; font-size:2px; width:89%; margin:2px 0 5px 0;padding:1px;overflow: hidden;}
#index_public_main .bar_1 {border:1px dotted #999999; background:#FFFFFF; height:5px; font-size:2px; width:89%; margin:2px 0 5px 0;padding:1px;overflow: hidden;}
#index_public_main .barli_red{background:#ff6600; height:5px; margin:0px; padding:0;}
#index_public_main .barli_blue{background:#0099FF; height:5px; margin:0px; padding:0;}
#index_public_main .barli_green{background:#36b52a; height:5px; margin:0px; padding:0;}
#index_public_main .barli_1{background:#999999; height:5px; margin:0px; padding:0;}
#index_public_main .barli{background:#36b52a; height:5px; margin:0px; padding:0;}
</style>
<div id="index_public_main" class="easyui-panel" data-options="fit:true,title:'后台首页',border:false">
	<table width="100%" cellspacing="5" border="0">
		
	</table>
</div>