<form id="ff" method="post">
    <table cellpadding="5">
        <tr>
            <td>项目组名:</td>
            <td><input class="easyui-textbox" type="text" name="group" data-options="required:true"></input></td>
        </tr>
        <tr>
            <td>项目名:</td>
            <td><input class="easyui-textbox" type="text" name="name" data-options="required:true"></input></td>
        </tr>
        <tr>
            <td>项目值:</td>
            <td><input class="easyui-textbox" type="text" name="value"></input></td>
        </tr>
    </table>
</form>