<taglib name="Admin\TagLib\EasyUI" />

<easyui:propertygrid options="propertygrid.options" style="width:300px"/>
<div id="statistics_propertygrid_toolbar" style="padding:1px;height:auto">
	<form style="border-bottom:1px solid #ddd;margin-bottom:1px;padding:5px">
		开始时间:
		<input id="begindate" class="easyui-datebox">		
		结束时间: 
		<input id="enddate" class="easyui-datebox">
		<a href="javascript:;" onclick="searchByDateRange()" class="easyui-linkbutton" iconCls="icons-map-magnifier">搜索</a>
	</form>
	
</div>

<script type="text/javascript">
var date = new Date();
console.log($('#begindate'));
//$('#begindate').datebox('setValue', '2012-01-01');
//$('#enddate').datebox('setValue', '6/1/2012');
$('#daterange').combobox({
	onSelect: searchBySelect,
	required: true
});

function searchBySelect() {
	var queryParams = $('#statistics_statisticslist_datagrid').datagrid('options').queryParams;
	queryParams['search[createdtime]'] = $('#daterange').combobox('getValue');
	console.log(queryParams);
	$('#statistics_statisticslist_datagrid').datagrid('reload');
}

function detailFormatter(index,row) {
	return '<div style="padding:2px"><table class="ddv"></table></div>';
}

//搜索
function searchByDateRange() {
	var queryParams = $('#statistics_statisticslist_datagrid').datagrid('options').queryParams;
	var begindate = $('#begindate').datebox('getValue');
	console.log(begindate);
	var enddate = $('#enddate').datebox('getValue');
	console.log(enddate);
	queryParams['search[createdtime]'] = [begindate, enddate];
	console.log(queryParams);
	$('#statistics_statisticslist_datagrid').datagrid('reload');
}
</script>