<taglib name="Admin\TagLib\EasyUI" />

<easyui:treegrid options="treegrid.options" fields="treegrid.fields" />

<!-- 添加栏目 -->
<div id="member_add_dialog" class="easyui-dialog" title="增加会员" data-options="modal:true,closed:true,iconCls:'icons-application-application_add',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#member_add_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#member_add_dialog').dialog('close');}}]" style="width:500px;height:300px;"></div>

<!-- 编辑栏目 -->
<div id="member_edit_dialog" class="easyui-dialog" title="编辑栏目" data-options="modal:true,closed:true,iconCls:'icons-application-application_edit',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#member_edit_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#member_edit_dialog').dialog('close');}}]" style="width:500px;height:300px;"></div>

<script type="text/javascript">
var member_memberlist_treegrid_toolbar = [
	{ text: '增加会员', iconCls: 'icons-arrow-add', handler: memberListAdd },
	{ text: '刷新', iconCls: 'icons-arrow-arrow_refresh', handler: memberMemberListRefresh },
	{ text: '排序', iconCls: 'icons-arrow-arrow_down', handler: memberListOrder }
];
// //排序格式化
// function categoryCategoryListOrderFormatter(val, arr){
// 	return '<input class="category_categorylist_order_input" type="text" name="order['+arr['catid']+']" value="'+ val +'" size="2" style="text-align:center">';
// }
// //类型格式化
// function categoryCategoryListTypeFormatter(key){
// 	var list = <{:json_encode(C('CONTENT_CATEGORY_TYPE'))}>;
// 	return list[key] || null;
// }
// //状态格式化
// function categoryCategoryListStateFormatter(val){
// 	return val == '1' ? '启用' : '<font color="red">禁用</font>';
// }
//操作格式化
function memberListOperateFormatter(id){
	var btn = [];
	btn.push('<a href="javascript:;" onclick="categoryCategoryListEdit('+id+')">修改</a>');
	btn.push('<a href="javascript:;" onclick="categoryCategoryListDelete('+id+')">删除</a>');
	return btn.join(' | ');
}

//刷新
function memberMemberListRefresh(){
	// $('#member_memberlist_treegrid').html('');
	$('#member_memberlist_treegrid').treegrid('reload');
}
//添加
function memberListAdd(parentid){
	if(typeof(parentid) !== 'number') parentid = 0;
	var url = '<{:U('Member/memberAdd')}>';
	url += url.indexOf('?') != -1 ? '&parentid='+parentid : '?parentid='+parentid;
	$('#member_add_dialog').dialog({href:url});
	$('#member_add_dialog').dialog('open');
}
//编辑
function categoryCategoryListEdit(id){
	if(typeof(id) !== 'number'){
		$.messager.alert('提示信息', '未选择栏目', 'error');
		return false;
	}
	var url = '<{:U('Category/categoryEdit')}>';
	url += url.indexOf('?') != -1 ? '&id='+id : '?id='+id;
	$('#category_category_edit_dialog').dialog({href:url});
	$('#category_category_edit_dialog').dialog('open');
}
//删除
function categoryCategoryListDelete(id){
	if(typeof(id) !== 'number'){
		$.messager.alert('提示信息', '未选择菜单', 'error');
		return false;
	}
	$.messager.confirm('提示信息', '确定要删除吗？', function(result){
		if(!result) return false;
		$.post('<{:U('Category/categoryDelete')}>', {id: id}, function(res){
			if(!res.status){
				$.messager.alert('提示信息', res.info, 'error');
			}else{
				$.messager.alert('提示信息', res.info, 'info');
				memberListRefresh();
			}
		}, 'json');
	});
}
//排序
function memberListOrder(){
	$.post('<{:U('Member/memberOrder')}>', $('.category_categorylist_order_input').serialize(), function(res){
		if(!res.status){
			$.messager.alert('提示信息', res.info, 'error');
		}else{
			$.messager.alert('提示信息', res.info, 'info');
			memberListRefresh();
		}
	}, 'json');
}
</script>