<taglib name="Admin\TagLib\EasyUI" />

<easyui:datagrid options="datagrid.options" fields="datagrid.fields" />

<div id="member_memberlist_datagrid_toolbar" style="padding:1px;height:auto">
	<form style="border-bottom:1px solid #ddd;margin-bottom:1px;padding:5px">
	    卡号:
	    <input type="text" name="search[cid]" style="width:100px;padding:2px">
		手机号:
		<input type="text" name="search[phone]" style="width:100px;padding:2px">		
		会员名: 
		<input type="text" name="search[name]" style="width:100px;padding:2px"/>
		<!-- 时 间: <input name="search[begin]" class="easyui-datebox" style="width:100px">
		至: <input name="search[end]" class="easyui-datebox" style="width:100px"> -->
		
		<a href="javascript:;" onclick="memberListDatagridSearch(this)" class="easyui-linkbutton" iconCls="icons-map-magnifier">搜索</a>
	</form>
	<div>
		<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-arrow-add'" onclick="memberListAdd()">添加</a>
		<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-arrow-arrow_refresh'" onclick="memberMemberListRefresh()">刷新</a>
		<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-arrow-arrow_up'" onclick="memberListOrder()">排序</a>
	</div>
</div>
<!-- 添加栏目 -->
<div id="member_add_dialog" class="easyui-dialog" title="增加会员" data-options="modal:true,closed:true,iconCls:'icons-application-application_add',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#member_add_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#member_add_dialog').dialog('close');}}]" style="width:600px;height:400px;"></div>

<!-- 编辑栏目 -->
<div id="member_member_edit_dialog" class="easyui-dialog" title="编辑栏目" data-options="modal:true,closed:true,iconCls:'icons-application-application_edit',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#member_member_edit_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#member_member_edit_dialog').dialog('close');}}]" style="width:500px;height:300px;"></div>

<!-- 查看详细信息 -->
<div id="member_add_detail_dialog" class="easyui-dialog word-wrap" title="增加会员消费记录" data-options="modal:true,closed:true,iconCls:'icons-other-information',buttons:[{text:'增加消费',iconCls:'icons-other-tick',handler:function(){$('#member_add_detail_dialog_form').submit();}},{text:'关闭',iconCls:'icons-arrow-cross',handler:function(){$('#member_add_detail_dialog').dialog('close');}}]" style="width:600px;height:360px;padding:5px"></div>

<div id="member_pay_dialog" class="easyui-dialog word-wrap" title="会员充值" data-options="modal:true,closed:true,iconCls:'icons-other-information',buttons:[{text:'会员充值',iconCls:'icons-other-tick',handler:function(){$('#member_pay_dialog_form').submit();}},{text:'关闭',iconCls:'icons-arrow-cross',handler:function(){$('#member_pay_dialog').dialog('close');}}]" style="width:600px;height:360px;padding:5px"></div>
<!-- 充值 -->
<script type="text/javascript">


// var member_memberlist_treegrid_toolbar = [
// 	{ text: '增加会员', iconCls: 'icons-arrow-add', handler: memberListAdd },
// 	{ text: '刷新', iconCls: 'icons-arrow-arrow_refresh', handler: memberMemberListRefresh },
// 	{ text: '排序', iconCls: 'icons-arrow-arrow_down', handler: memberListOrder }
// ];
// //排序格式化
// function memberMemberListOrderFormatter(val, arr){
// 	return '<input class="member_memberlist_order_input" type="text" name="order['+arr['catid']+']" value="'+ val +'" size="2" style="text-align:center">';
// }
// //类型格式化
// function memberMemberListTypeFormatter(key){
// 	var list = <{:json_encode(C('CONTENT_CATEGORY_TYPE'))}>;
// 	return list[key] || null;
// }
//状态格式化
function memberSexFormatter(val){
	return val == '1' ? '男' : '女';
}
function memberStatusFormatter(val){
	return val == '0' ? '正常' : '锁定';
}
//操作格式化
function memberListOperateFormatter(id){
	var btn = [];
	btn.push('<a href="javascript:;" onclick="memberDetailDialog(this)"  data-cid="'+id+'">消费</a>');
	btn.push('<a href="javascript:;" onclick="memberPayDialog(this)"  data-cid="'+id+'">充值</a>');
	btn.push('<a href="javascript:;" onclick="memberMemberListEdit('+id+')">修改</a>');
	btn.push('<a href="javascript:;" onclick="memberMemberListDelete('+id+')">删除</a>');
	return btn.join(' | ');
}

//刷新
function memberMemberListRefresh(){
	// $('#member_memberlist_treegrid').html('');
	$('#member_memberlist_datagrid').datagrid('reload');
}
//添加
function memberListAdd(parentid){
	if(typeof(parentid) !== 'number') parentid = 0;
	var url = '<{:U('Member/memberAdd')}>';
	url += url.indexOf('?') != -1 ? '&parentid='+parentid : '?parentid='+parentid;
	$('#member_add_dialog').dialog({href:url});
	$('#member_add_dialog').dialog('open');
}
//编辑
function memberMemberListEdit(id){
	if(typeof(id) !== 'number'){
		$.messager.alert('提示信息', '未选择栏目', 'error');
		return false;
	}
	var url = '<{:U('Member/memberEdit')}>';
	url += url.indexOf('?') != -1 ? '&id='+id : '?id='+id;
	$('#member_member_edit_dialog').dialog({href:url});
	$('#member_member_edit_dialog').dialog('open');
}
//删除
function memberMemberListDelete(id){
	if(typeof(id) !== 'number'){
		$.messager.alert('提示信息', '未选择菜单', 'error');
		return false;
	}
	$.messager.confirm('提示信息', '确定要删除吗？', function(result){
		if(!result) return false;
		$.post('<{:U('Member/memberDelete')}>', {id: id}, function(res){
			if(!res.status){
				$.messager.alert('提示信息', res.info, 'error');
			}else{
				$.messager.alert('提示信息', res.info, 'info');
				memberListRefresh();
			}
		}, 'json');
	});
}
//排序
function memberListOrder(){
	$.post('<{:U('Member/memberOrder')}>', $('.member_memberlist_order_input').serialize(), function(res){
		if(!res.status){
			$.messager.alert('提示信息', res.info, 'error');
		}else{
			$.messager.alert('提示信息', res.info, 'info');
			memberListRefresh();
		}
	}, 'json');
}

//搜索
function memberListDatagridSearch(that){
	var queryParams = $('#member_memberlist_datagrid').datagrid('options').queryParams;
	$.each($(that).parent('form').serializeArray(), function() {
		queryParams[this['name']] = this['value'];
	});
	// console.log(queryParams);
	$('#member_memberlist_datagrid').datagrid('reload');
}

//参数格式化
function memberViewFormatter(val){
	return '<a href="javascript:;" onclick="memberDetailDialog(this);" data-cid="'+val+'">'+val+'</a>';
}
//查看详细信息
function memberDetailDialog(that){
	// if(typeof(parentid) !== 'number') parentid = 0;
	var url = '<{:U('Member/memberAddDetail')}>';
	url += url.indexOf('?') != -1 ? '&cid='+$(that).data("cid") : '?cid='+$(that).data("cid");
	var id = 'member_add_detail_dialog';
	// console.log($(that).data("cid"));
	$('#'+id).dialog({href:url});
	$('#'+id).dialog('open');
}
//充值
function memberPayDialog(that){
	// if(typeof(parentid) !== 'number') parentid = 0;
	var url = '<{:U('Member/memberPay')}>';
	url += url.indexOf('?') != -1 ? '&cid='+$(that).data("cid") : '?cid='+$(that).data("cid");
	var id = 'member_pay_dialog';
	// console.log($(that).data("cid"));
	$('#'+id).dialog({href:url});
	$('#'+id).dialog('open');
}
</script>